/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --primary: #1aac83;
    --error: #e7195a;
}

body {
    background: #f1f1f1;
    font-family: "Poppins";
    margin: 0 auto;
    min-width: 320px;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    background: #fff;
}

header .container {
    max-width: 1400px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}

header .container h1 {
    font-style: bold;
    margin: 0;
    font-size: 2.5em;
}

header .container nav {
    font-size: 1.2em;
}

.pages {
    max-width: 1280px;
    margin: 0 auto;
}

.home {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center; */
    font-size: 16px;
}

.task-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

/* .create input[type="text"], */
.create textarea,
.create button {
    display: none;
    /* Initially hide input, textarea, and button */
}

.create.title-focused input[type="text"],
.create.title-focused textarea,
.create.title-focused button {
    display: block;
}

.done {
    text-decoration: line-through;
}

.empty {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    color: var(--primary)
}

.tasks {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */

    cursor: grab;

    /*  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.tasks>* {
    display: block;
}

.task-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px 30px 10px -10px;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.description {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    max-height: 350px;
    overflow-y: auto;
}

.task-details h2 {
    font-size: 1.4em;
    font-style: bold;
    color: var(--primary);
}

.task-details p {
    margin: 0;
    font-size: 1.1em;
    color: #555;
    margin: 10px;
    text-align: justify;
}

.task-details .align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.task-details span {
    position: absolute;
    top: 25px;
    right: 15px;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 5px;
    color: #333;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.checkbox-container .checkbox {
    width: 20px;
}

label,
input {
    display: block;
}

input::placeholder,
textarea::placeholder {
    color: #999;
    font-size: 16px;
}

textarea {
    min-width: none;
    min-height: 80px;
    resize: none;
    overflow-y: auto;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

form button {
    background: var(--primary);
    width: 130px;
}

.button {
    background: var(--primary);
}

.completebutton {
    background: var(--primary);
    padding: 5px;
    margin-top: 5px;
}

.deletebutton {
    background: var(--error);
    padding: 5px;
}

.error {
    padding: 5px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
}

input.error {
    border: 1px solid var(--error);
}

nav {
    display: flex;
    align-items: center;
}

nav a,
nav button {
    margin-left: 10px;
}

nav .userinfo {
    font-size: 1em;
    margin-right: 5px;
}

nav button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
}

form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

form h2 {
    margin: 0 0 20px 2px;
    font-size: 1.5em;
    color: var(--primary);
}

.notLoggedIn {
    text-align: center;
    margin-top: 100px;
    font-size: 1.2em;
    color: var(--primary);
}

@media (max-width: 580px) {
    .create {
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }

    .task-details {
        margin: 20px 30px 10px -10px;
    }
}

@media (max-width: 450px) {
    .create {
        width: 80%;
    }
}